@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
@import url('https://fonts.googleapis.com/css?family=Tangerine:400,700');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

/* HEADER */

.App-header {
  padding: 0 1em 1em 1em;
}

.App-title {
  font-family: 'Tangerine', cursive;
  font-size: 4em;
  font-weight: 700;
  border-bottom: solid 1px #89b236;
  padding-bottom: 0.3em;
  color: #026202;
}
.App-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 0;
  color: #4d7203;
}

/* MAIN */

.container {
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 0 20px #333333;
}

/* FOOTER */

.footer {
  background-color: #026202;
  color: #fff;
  padding: 2em;
}
.copyright {
  font-size: 1em;
  font-weight: bold;
}
.copyright a {
  color: #fff;
  text-decoration: none;
}
.copyright a:hover {
  color: #d0f091;
}
