@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
@import url('https://fonts.googleapis.com/css?family=Tangerine:400,700');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

/* HEADER */

.App-header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/header-image.jpg');
  background-position: center;
  background-size: contain;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-color: #026202;
}

.App-title {
  font-family: 'Tangerine', cursive;
  font-size: 4em;
  font-weight: 700;
  border-bottom: solid 1px #fff;
  padding-bottom: 0.3em;
  color: #fff;
}
.App-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: bold;
  padding-top: 0.3em;
  color: #fff;
}
.text-overlay {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* SEARCH BUTTON */

.add-book-icon {
  color: #103210;
  font-size: 6em;
  text-shadow: 0 10px 20px #aaaaaa;
}
.add-book-icon:hover {
  cursor: pointer;
  font-size: 7em;
  transition: all 0.3s ease;
}
.submit {
  background: none;
  border: none;
  color: #002500;
  margin-right: 2em;
}

/* MAIN */

.container {
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 0 20px #333333;
  margin: 1em auto;
}

/* FOOTER */

.footer {
  background-color: #026202;
  color: #fff;
  padding: 2em;
}
.copyright {
  font-size: 1em;
  font-weight: bold;
}
.copyright a {
  color: #fff;
  text-decoration: none;
}
.copyright a:hover {
  color: #d0f091;
}
